.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.AuthSuccess {
  color: #5c9210;
  border-radius: 50px;
  border: 2px solid #5c9210;
  width: 8rem;
}

.Auth {
  position: relative;
  left: 70%;
  color: #944317;
  border-radius: 50px;
  border: 2px solid #944317;
  width: 7rem;
}
